<section class="page-width">
  <div class="testimonial-header section-header text-center" {% if section.settings.bgcolor != blank %}style="background-color: {{ section.settings.bgcolor }};"{% endif %}>
    <div class="textimonial-text medium-up--two-thirds small--seven-eighths">
      {% if section.settings.title != blank %}
      <h2>{{ section.settings.title | escape }}</h2>
      {% endif %}
      {% unless section.settings.logo == blank %}
      {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      <div class="banner_logo">
        <img class="lazyload js image_scale" data-src="{{ img_url }}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="{{ section.settings.logo.aspect_ratio }}" data-sizes="auto" alt="{{ section.settings.banner_small.alt | escape }}">
      </div>
      {% endunless %}
      {% unless section.settings.text_with_title == blank %}
      <h3>{{ section.settings.text_with_title }}</h3>
      {% endunless %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Testimonial",
  "class": "index-section testimonial-section",
  "settings": [
  {
    "type": "text",
    "id": "title",
    "label": "Text",
    "default": "Jewellery is a gift to be treasured, often bought as a token of love, so, it’s important that when we do make that investment – it is a piece of integrity."
  },
  {
    "type": "image_picker",
    "id": "logo",
    "label": "Logo"
  },
  {
    "type": "text",
    "id": "text_with_title",
    "label": "Subtitle",
    "default": "MFY X ANIKA SHAH"
  },
  {
    "type": "color",
    "id": "bgcolor",
    "label": "Background Color"
  }
  ]
}
{% endschema %}