{% assign main_description = product.description %}
<div class="product_description--accordion">
  {% if main_description != blank %}
  <h3 class="accordion-header">Products Details</h3>
  <div class="accordion-content">
    {% for description in main_description %}
    {% if forloop.index == 1 %}  
    {{ description }}
    {% endif %}
    {% endfor %}
  </div>
  {% endif %}
  
  <h3 class="accordion-header">LAB GROWN DIAMONDS</h3>
  <div class="accordion-content">
    <ul>
      <li>Offer essentially the same physical, chemical and optical properties as mined diamonds.</li>
      <li>Lab-grown diamonds are larger, and offer a higher quality than mined diamonds of the same price.</li>
      <li>Each stone is conflict-free.</li>
    </ul>
  </div>
  
  <h3 class="accordion-header">Specifications</h3>
  <div class="accordion-content">            
    <div class="meta-field-des">
      {% assign adjustable = product.metafields.Product['Adjustable'] %}
      {% if adjustable != 0 and adjustable != blank %}
      <p>Adjustable : {{ adjustable }}</p>
      {% endif %}
      {% assign centrestonecttw = product.metafields.Product['Centre Stone Cttw'] %}
      {% if centrestonecttw != 0 and centrestonecttw != blank %}
      <p>Centre Stone CTTW : {{ centrestonecttw }}</p>
      {% endif %}
      {% assign centrestoneshape = product.metafields.Product['Centre Stone Shape'] %}
      {% if centrestoneshape != 0 and centrestoneshape != blank %}
      <p>Centre Stone Shape : {{ centrestoneshape }}</p>
      {% endif %}
      {% assign stonects = product.metafields.Product['Stone 1 Cttw'] %}
      {% if stonects != 0 and stonects != blank %}
      <p>Stone 1 CTTW : {{ stonects }}</p>
      {% endif %}
      {% assign stonepcs = product.metafields.Product['Stone 1 Pcs'] %}
      {% if stonepcs != 0 and stonepcs != blank %}
      <p>Stone 1 PCS : {{ stonepcs }}</p>
      {% endif %}
      {% assign stoneshape = product.metafields.Product['Stone 1 Shape'] %}
      {% if stoneshape != 0 and stoneshape != blank %}
      <p>Stone 1 Shape : {{ stoneshape }}</p>
      {% endif %}
      {% assign centrestoneclarity = product.metafields.Product['Stone Clarity'] %}
      {% if centrestoneclarity != 0 and centrestoneclarity != blank %}
      <p>Stone Clarity : {{ centrestoneclarity }}</p>
      {% endif %} 
      {% assign centrestonecolor = product.metafields.Product['Stone Color'] %}
      {% if centrestonecolor != 0 and centrestonecolor != blank %}
      <p>Stone Color : {{ centrestonecolor }}</p>
      {% endif %}
      {% assign centrestonetype = product.metafields.Product['Stone Type'] %}
      {% if centrestonetype != 0 and centrestonetype != blank %}
      <p>Stone Type : {{ centrestonetype }}</p>
      {% endif %}
      
      {% assign totaldiamondweightcttw = product.metafields.Product['Total Diamond Weight Cttw '] %}
      {% if totaldiamondweightcttw == blank %}
      {% assign totaldiamondweightcttw = product.metafields.Product['Total Diamond Weight Cttw'] %}
      {% endif %}
      {% if totaldiamondweightcttw != 0 and totaldiamondweightcttw != blank %}
      <p>Total Diamond Weight Cttw : {{ totaldiamondweightcttw }}</p>
      {% endif %}
      
      {% assign centrestone = product.metafields.Product['Centre Stone'] %}
      {% if centrestone != 0 and centrestone != blank %}
      <p>Centre Stone : {{ centrestone }}</p>
      {% endif %}
      
      {% assign centrestonepcs = product.metafields.Product['Centre Stone Pcs'] %}
      {% if centrestonepcs != 0 and centrestonepcs != blank %}
      <p>Centre Stone PCS : {{ centrestone }}</p>
      {% endif %}
      
      {% assign color = product.metafields.Product['Color'] %}
      {% if color != 0 and color != blank %}
      <p>Color : {{ color }}</p>
      {% endif %}
      {% assign gemstonetype = product.metafields.Product['Gemstone Type'] %}
      {% if gemstonetype != 0 and gemstonetype != blank %}
      <p>Gemstone Type : {{ gemstonetype }}</p>
      {% endif %}   
      {% assign sizelength = product.metafields.Product['Size/Length'] %}
      {% if sizelength != 0 and sizelength != blank %}
      <p>Size/Length : {{ sizelength }}</p>
      {% endif %}   
      {% assign stonetype = product.metafields.Product['Stone 1 Type'] %}
      {% if stonetype != 0 and stonetype != blank %}
      <p>Stone 1 Type : {{ stonetype }}</p>
      {% endif %}
      {% assign stonetwocts = product.metafields.Product['Stone 2 Cttw'] %}
      {% if stonetwocts != 0 and stonetwocts != blank %}
      <p>Stone 2 CTTW : {{ stonetwocts }}</p>
      {% endif %}
      {% assign stonetwopcs = product.metafields.Product['Stone 2 Pcs'] %}
      {% if stonetwopcs != 0 and stonetwopcs != blank %}
      <p>Stone 2 Pcs : {{ stonetwopcs }}</p>
      {% endif %}
      
      {% assign stonetwoshape = product.metafields.Product['Stone 2 Shape'] %}
      {% if stonetwoshape != 0 and stonetwoshape != blank %}
      <p>Stone 2 Shape : {{ stonetwoshape }}</p>
      {% endif %}
      
      {% assign stonetwotype = product.metafields.Product['Stone 2 Type'] %}
      {% if stonetwotype != 0 and stonetwotype != blank %}
      <p>Stone 2 Type : {{ stonetwotype }}</p>
      {% endif %}
      
      {% assign stonetwotype = product.metafields.Product['Origin'] %}
      {% if stonetwotype != 0 and stonetwotype != blank %}
      <p>Origin : {{ stonetwotype }}</p>
      {% endif %}
    </div> 
  </div>
  
  <h3 class="accordion-header">Shipping & Returns</h3>
  <div class="accordion-content">
    <p class="no-margin">Enjoy complimentary shipping & returns on all orders.</p>
    <p class="no-margin">Online purchases can only be returned online, not in-store.</p>
    <p class="no-margin">If for any reason you are not satisfied, we will gladly accept most items for exchange, refund or merchandise credit within 60 days. Custom and engraved items are non-refundable. After 60 days, all sales are final. All returns must be in the original condition.</p>
    <p>All refunds will be issued in the original form of payment within 14 days from the date the return is received. Merchandise credits will be issued through our system within 3 days from the date the return is received. Please contact us at <a href="mailto:mfy@renaissanceglobal.com" aria-describedby="a11y-external-message">mfy@renaissanceglobal.com</a>.</p>
    <h5>SHIPPING A RETURN</h5>
    <p>Please contact us at <a href="mailto:mfy@renaissanceglobal.com">mfy@renaissanceglobal.com</a> to make arrangements for returning your item. A specialist will provide you with shipping instructions along with a Return Authorization Number.</p>
  </div>
</div>