<div class="page-width">
  <div class="customer__register">
    <div class="register__container">
      <div class="register__form form-vertical">
        <h1 class="register__heading">{{ 'customer.register.title' | t }}</h1>
        <p class="login__subheading">Please enter your details to create a new account</p>

        {%- assign formId = 'RegisterForm' -%}
        {% form 'create_customer', id: formId, novalidate: 'novalidate' %}
          {% include 'form-status', form: form, form_id: formId %}
          <div class="select-container">
            <select class="">
              <option value="" data-display-text="Select title">Select title</option>
              <option value="mr">Mr</option>
              <option value="mrs">Mrs</option>
            </select>
          </div>	
        
          <input type="text" name="customer[first_name]" placeholder="Enter your first name" id="{{ formId }}-FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocomplete="given-name">

          <input type="text" name="customer[last_name]" placeholder="Enter your last name" id="{{ formId }}-LastName" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocomplete="family-name">

          <input
            type="email"
            name="customer[email]"
            placeholder="Enter your email"
            id="{{ formId }}-email"
            class="{% if form.errors contains 'email' %} input--error{% endif %}"
            {% if form.email %} value="{{ form.email }}"{% endif %}
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            aria-required="true"
            {%- if form.errors contains 'email' -%}
              class="input--error"
              aria-invalid="true"
              aria-describedby="{{ formId }}-email-error"
            {%- endif -%}
          >
          {%- if form.errors contains 'email' -%}
            <span id="{{ formId }}-email-error" class="input-error-message">
              <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
              {% include 'icon-error' %}
              <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
            </span>
          {%- endif -%}

          <input
            type="password"
            name="customer[password]"
            placeholder="Enter your password"
            id="{{ formId }}-password"
            class="{% if form.errors contains 'password' %} input--error{% endif %}"
            aria-required="true"
            {%- if form.errors contains 'password' -%}
              class="input--error"
              aria-invalid="true"
              aria-describedby="{{ formId }}-password-error"
            {%- endif -%}
          >
          {%- if form.errors contains 'password' -%}
            <span id="{{ formId}}-password-error" class="input-error-message">
              {% include 'icon-error' %}
              <span>{{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.</span>
            </span>
          {%- endif -%}
		  
          <div class="form__submission">
            <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn">
          </div>
          <div class="form__message">
            <p>Already have an account? <a href="/account/login/">Login now</a></p>
          </div>

        {% endform %}
      </div>
    </div>
  </div>
</div>
