{% if section.settings.enable_section %}
<div class="section-spacing">
  <div class="page-width">
    <div class="section-wrapper">
      <div class="grid grid--no-gutters">
        <div class="grid__item grid__item-image">
          {% assign banner_1_desk = section.settings.banner_1_desk | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          <div class="image-wrapper absolute-image-wrapper image-1 small--hide" style="padding-top:{{ 1 | divided_by: section.settings.banner_1_desk.aspect_ratio | times: 100 }}%;">
            <img class="lazyload" 
                 data-src="{{ banner_1_desk }}" 
                 data-widths="[180, 360, 375, 414, 540, 800 ]" 
                 data-aspectratio="{{ section.settings.banner_1_desk.aspect_ratio }}" 
                 data-sizes="auto"
                 alt="" />
          </div>
          {% assign banner_1_mob = section.settings.banner_1_mob | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          <div class="image-wrapper absolute-image-wrapper image-1 medium-up--hide" style="padding-top:{{ 1 | divided_by: section.settings.banner_1_mob.aspect_ratio | times: 100 }}%;">
            <img class="lazyload" 
                 data-src="{{ banner_1_mob }}" 
                 data-widths="[180, 360, 375, 414, 540, 800 ]" 
                 data-aspectratio="{{ section.settings.banner_1_mob.aspect_ratio }}" 
                 data-sizes="auto"
                 alt="" />
          </div>
        </div>
        <div class="grid__item grid__item-content">
          <div class="content content-1 text-center">
            {% if section.settings.title != blank %}
            <h2>{{ section.settings.title }}</h2>
            {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="431.07" height="75.62" class="svg-anika-shah" viewbox="0 0 247.055 43.341"><path d="M33.623,9.973q.235,0,.235.352t-.235.352q-.881,0-2.643-.117-2.114-.117-3.289-.117-1.233,0-3.113.117-1.762.117-2.584.117-.176,0-.176-.352T22,9.973a5.877,5.877,0,0,0,3.024-.558,2.24,2.24,0,0,0,.852-2.026,9.466,9.466,0,0,0-.117-1.644L23.933-5.473H12.716l-4.581,8.4Q6.315,6.332,6.315,7.859a1.672,1.672,0,0,0,.94,1.674,7.122,7.122,0,0,0,2.878.44q.235,0,.206.352t-.264.352q-.646,0-2.643-.117-2.232-.117-3.465-.117t-2.878.117q-1.644.117-2.525.117-.235,0-.235-.352t.235-.352A6.087,6.087,0,0,0,2.2,8.475,17.458,17.458,0,0,0,6.2,3.454l16.8-30.068a.457.457,0,0,1,.411-.176q.529,0,.646.294L29.219,5.744a12.233,12.233,0,0,0,.646,2.643,2.264,2.264,0,0,0,1.2,1.2A6.54,6.54,0,0,0,33.623,9.973ZM13.362-6.647H23.757L21.408-21.27ZM61.7,6.155q.117-.117.176-.117a.407.407,0,0,1,.323.206.267.267,0,0,1-.029.382,21.175,21.175,0,0,1-3.553,3.465,5.214,5.214,0,0,1-3.024,1.116,1.884,1.884,0,0,1-1.556-.617,3.238,3.238,0,0,1-.5-2.026,18.3,18.3,0,0,1,.352-3.113l1.7-9.338a17.706,17.706,0,0,0,.352-3.171q0-3.406-2.525-3.406-1.938,0-4.023,2.467A25.394,25.394,0,0,0,45.486-.8a59.8,59.8,0,0,0-2.936,11.07,1.047,1.047,0,0,1-.617.646,3.132,3.132,0,0,1-1.321.235,4.206,4.206,0,0,1-1.086-.088q-.264-.088-.264-.264L39.5,9.444q.352-1.409.646-3.113l2.408-13.1a8.166,8.166,0,0,0,.176-1.586q0-1.879-1.175-1.879a3.567,3.567,0,0,0-1.791.7,11.894,11.894,0,0,0-2.261,2,.239.239,0,0,1-.176.059A.407.407,0,0,1,37-7.675q-.147-.206.029-.323A19.424,19.424,0,0,1,40.7-11.4a5.81,5.81,0,0,1,3.2-1.116,1.728,1.728,0,0,1,1.468.617,3.269,3.269,0,0,1,.47,1.967,16.137,16.137,0,0,1-.294,3.054L44.312.224A30.264,30.264,0,0,1,49.3-9.319q2.878-3.436,6.049-3.436A3.655,3.655,0,0,1,58.23-11.7a4.955,4.955,0,0,1,.94,3.347A19.1,19.1,0,0,1,58.817-5L56.879,5.451A8.166,8.166,0,0,0,56.7,7.036q0,1.821,1.175,1.821Q59.111,8.857,61.7,6.155ZM73.206-19.45a2.5,2.5,0,0,1-1.85-.675,2.5,2.5,0,0,1-.675-1.85,2.323,2.323,0,0,1,.675-1.762,2.566,2.566,0,0,1,1.85-.646,2.462,2.462,0,0,1,1.821.646,2.381,2.381,0,0,1,.646,1.762,2.566,2.566,0,0,1-.646,1.85A2.4,2.4,0,0,1,73.206-19.45Zm-3.7,30.656a1.974,1.974,0,0,1-1.586-.617,3.1,3.1,0,0,1-.529-2.026A20.345,20.345,0,0,1,67.8,5.451L70.211-6.765a8.166,8.166,0,0,0,.176-1.586q0-1.879-1.175-1.879a3.567,3.567,0,0,0-1.791.7,11.894,11.894,0,0,0-2.261,2,.239.239,0,0,1-.176.059.407.407,0,0,1-.323-.206Q64.514-7.88,64.69-8a19.567,19.567,0,0,1,3.7-3.436A5.7,5.7,0,0,1,71.5-12.52a1.884,1.884,0,0,1,1.556.617,3.238,3.238,0,0,1,.5,2.026,17.167,17.167,0,0,1-.352,3L70.8,5.451a8.853,8.853,0,0,0-.176,1.586q0,1.821,1.116,1.821,1.409,0,3.993-2.584a.3.3,0,0,1,.529.088.29.29,0,0,1-.059.382,20.208,20.208,0,0,1-3.582,3.377A5.505,5.505,0,0,1,69.506,11.206Zm31.83-4.933a.239.239,0,0,1,.176-.059.381.381,0,0,1,.352.206q.117.206,0,.323-3.935,4.463-6.225,4.463a3.468,3.468,0,0,1-2.32-.822A12.833,12.833,0,0,1,91,7.271L87.594,1.34a5.194,5.194,0,0,0-.94-1.233A1.567,1.567,0,0,0,85.6-.246l-.529.059L83.189,10.266a1.047,1.047,0,0,1-.617.646,3.132,3.132,0,0,1-1.321.235q-1.351,0-1.351-.352l.235-1.351q.352-1.409.646-3.113l5.99-32.007q.117-.94.117-1.233,0-1.527-1.292-1.527a7.556,7.556,0,0,0-2.819.881h-.117a.287.287,0,0,1-.294-.264.33.33,0,0,1,.117-.382l7.576-3.7h.117a.666.666,0,0,1,.44.176q.206.176.147.294l-4.4,24.02a18.347,18.347,0,0,1,4.9-3.905A11.341,11.341,0,0,1,96.7-12.755a3.164,3.164,0,0,1,2.467.852,2.859,2.859,0,0,1,.763,1.967,2.69,2.69,0,0,1-.059.7,7.271,7.271,0,0,1-3.083,4.14,25.6,25.6,0,0,1-7.077,3.553l3.935,6.812a10.737,10.737,0,0,0,2.026,2.7,2.773,2.773,0,0,0,1.791.7Q98.987,8.681,101.336,6.273ZM94.113-10.993A7.337,7.337,0,0,0,88.68-8.409,14.245,14.245,0,0,0,85.3-1.479l-.059.47a24.528,24.528,0,0,0,7.664-2.819,6.306,6.306,0,0,0,2.848-4.346A4.949,4.949,0,0,0,95.874-9a2.133,2.133,0,0,0-.47-1.468A1.64,1.64,0,0,0,94.113-10.993ZM126.119,6.155A.239.239,0,0,1,126.3,6.1a.341.341,0,0,1,.294.206q.117.206,0,.323a23.387,23.387,0,0,1-3.553,3.436,5.132,5.132,0,0,1-3.024,1.145,1.812,1.812,0,0,1-1.5-.617,3.239,3.239,0,0,1-.5-2.026,18.3,18.3,0,0,1,.352-3.113l1.057-6.108a32.2,32.2,0,0,1-6.078,8.78q-3.377,3.318-6.489,3.318-3.641,0-3.641-4.346,0-.47.117-1.762a22.51,22.51,0,0,1,3.113-8.4,25.644,25.644,0,0,1,5.931-6.959q3.406-2.731,6.4-2.731a5.946,5.946,0,0,1,2.173.411,3.921,3.921,0,0,1,1.7,1.233,4.225,4.225,0,0,0,1.409-2.114q.059-.176.411-.117t.294.176L121.362,5.451a8.165,8.165,0,0,0-.176,1.586q0,1.821,1.057,1.821Q123.535,8.857,126.119,6.155ZM108.971,8.563a6.905,6.905,0,0,0,4.493-2.173A22.118,22.118,0,0,0,117.721.9a22.218,22.218,0,0,0,2.525-6.489,4.207,4.207,0,0,0,.117-1.351,3.945,3.945,0,0,0-.91-2.76,3.513,3.513,0,0,0-2.731-1,6.94,6.94,0,0,0-4.2,1.85,15.615,15.615,0,0,0-3.729,4.816,20.655,20.655,0,0,0-2.114,6.724A17.521,17.521,0,0,0,106.5,5.04Q106.5,8.563,108.971,8.563Zm43.106,2.819a16.182,16.182,0,0,1-3.817-.44,15.235,15.235,0,0,1-3.817-1.556q-.47-.294-.352-1.116l.822-7.752q0-.294.323-.294t.323.294a12.807,12.807,0,0,0,2.085,7.077,6.7,6.7,0,0,0,5.9,2.848,8.166,8.166,0,0,0,5.08-1.674,7.821,7.821,0,0,0,2.79-5.2,10.285,10.285,0,0,0,.176-1.762,7,7,0,0,0-1.674-4.786,26.123,26.123,0,0,0-4.845-4.082Q152.9-8.644,151.636-9.73a10.013,10.013,0,0,1-2.144-2.613,6.924,6.924,0,0,1-.881-3.524,8.68,8.68,0,0,1,.176-1.7,10.607,10.607,0,0,1,2.378-4.992,11.3,11.3,0,0,1,4.316-3.083,13.741,13.741,0,0,1,5.227-1.028,15.783,15.783,0,0,1,6.343,1.409q.763.411.7,1l-.763,6.519q0,.235-.323.235t-.382-.235a12.023,12.023,0,0,0-1.7-5.755,5.285,5.285,0,0,0-4.816-2.29,6.775,6.775,0,0,0-4.2,1.263,7.564,7.564,0,0,0-2.467,3.142,9.471,9.471,0,0,0-.793,3.7,6.116,6.116,0,0,0,.881,3.259,9.448,9.448,0,0,0,2.114,2.437q1.233,1,3.406,2.525a26.32,26.32,0,0,1,5.109,4.228,7.27,7.27,0,0,1,1.762,4.992,8.864,8.864,0,0,1-.117,1.644,11.538,11.538,0,0,1-4.287,7.135A14.024,14.024,0,0,1,152.077,11.382Zm41.109-5.227a.3.3,0,0,1,.529.088.29.29,0,0,1-.059.382A21.175,21.175,0,0,1,190.1,10.09a5.214,5.214,0,0,1-3.024,1.116,1.884,1.884,0,0,1-1.556-.617,3.239,3.239,0,0,1-.5-2.026,18.3,18.3,0,0,1,.352-3.113l1.7-9.338a17.707,17.707,0,0,0,.352-3.171q0-3.406-2.525-3.406-1.879,0-3.935,2.408A25.267,25.267,0,0,0,177.095-1.1a55.61,55.61,0,0,0-2.936,10.777l-.117.587a1.047,1.047,0,0,1-.617.646,3.132,3.132,0,0,1-1.321.235q-1.351,0-1.351-.352l.235-1.351q.352-1.409.646-3.113l5.99-32.007q.117-.94.117-1.233,0-1.527-1.292-1.527a7.556,7.556,0,0,0-2.819.881h-.117a.287.287,0,0,1-.294-.264.329.329,0,0,1,.117-.382l7.576-3.7h.117a.666.666,0,0,1,.44.176q.206.176.147.294l-5.7,31.3a29.657,29.657,0,0,1,4.962-9.279q2.848-3.347,5.961-3.347a3.6,3.6,0,0,1,2.878,1.086,5.077,5.077,0,0,1,.94,3.377A18.875,18.875,0,0,1,190.308-5L188.37,5.451a8.166,8.166,0,0,0-.176,1.586q0,1.821,1.116,1.821Q190.6,8.857,193.186,6.155Zm25.429,0a.239.239,0,0,1,.176-.059.341.341,0,0,1,.294.206q.117.206,0,.323a23.387,23.387,0,0,1-3.553,3.436,5.132,5.132,0,0,1-3.024,1.145,1.812,1.812,0,0,1-1.5-.617,3.238,3.238,0,0,1-.5-2.026,18.3,18.3,0,0,1,.352-3.113L211.92-.657a32.2,32.2,0,0,1-6.078,8.78q-3.377,3.318-6.489,3.318-3.641,0-3.641-4.346,0-.47.117-1.762a22.51,22.51,0,0,1,3.113-8.4,25.644,25.644,0,0,1,5.931-6.959q3.406-2.731,6.4-2.731a5.946,5.946,0,0,1,2.173.411,3.921,3.921,0,0,1,1.7,1.233,4.225,4.225,0,0,0,1.409-2.114q.059-.176.411-.117t.294.176L213.858,5.451a8.165,8.165,0,0,0-.176,1.586q0,1.821,1.057,1.821Q216.031,8.857,218.615,6.155ZM201.467,8.563a6.905,6.905,0,0,0,4.493-2.173A22.117,22.117,0,0,0,210.217.9a22.217,22.217,0,0,0,2.525-6.489,4.208,4.208,0,0,0,.117-1.351,3.945,3.945,0,0,0-.91-2.76,3.513,3.513,0,0,0-2.731-1,6.94,6.94,0,0,0-4.2,1.85,15.615,15.615,0,0,0-3.729,4.816,20.655,20.655,0,0,0-2.114,6.724A17.521,17.521,0,0,0,199,5.04Q199,8.563,201.467,8.563Zm43.341-2.408a.3.3,0,0,1,.529.088.29.29,0,0,1-.059.382,21.175,21.175,0,0,1-3.553,3.465,5.214,5.214,0,0,1-3.024,1.116,1.884,1.884,0,0,1-1.556-.617,3.238,3.238,0,0,1-.5-2.026A18.3,18.3,0,0,1,237,5.451l1.7-9.338a17.706,17.706,0,0,0,.352-3.171q0-3.406-2.525-3.406-1.879,0-3.935,2.408A25.268,25.268,0,0,0,228.716-1.1,55.608,55.608,0,0,0,225.78,9.679l-.117.587a1.047,1.047,0,0,1-.617.646,3.133,3.133,0,0,1-1.321.235q-1.351,0-1.351-.352l.235-1.351q.352-1.409.646-3.113l5.99-32.007q.117-.94.117-1.233,0-1.527-1.292-1.527a7.556,7.556,0,0,0-2.819.881h-.117a.287.287,0,0,1-.294-.264.33.33,0,0,1,.117-.382l7.576-3.7h.117a.666.666,0,0,1,.44.176q.206.176.147.294l-5.7,31.3A29.657,29.657,0,0,1,232.5-9.407q2.848-3.347,5.961-3.347a3.6,3.6,0,0,1,2.878,1.086,5.077,5.077,0,0,1,.94,3.377A18.873,18.873,0,0,1,241.93-5L239.992,5.451a8.165,8.165,0,0,0-.176,1.586q0,1.821,1.116,1.821Q242.223,8.857,244.807,6.155Z" transform="translate(1.672 31.9)"></path></svg>
            {% endif %}
            {% if section.settings.text_1 != blank %}
            <div class="text">{{ section.settings.text_1 }}</div>
            {% endif %}
          </div>
          <div class="content content-2 text-center">
            <div class="wrapper">
              {% if section.settings.text_2 != blank %}
              <div class="text medium-up--text-left">{{ section.settings.text_2 }}</div>
              {% endif %}
              {% assign banner_2 = section.settings.banner_2 | img_url: 'master' %}
              <div class="image-wrapper image-2">
                <img class="lazyload" 
                     src="{{ banner_2 }}"
                     data-src="{{ banner_2 }}" 
                     data-sizes="auto" 
                     alt="" />
              </div>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>
{% endif %}

{% schema %}
  {
    "name": "Anika Shah",
	"class": "oc-anika-shah",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_section",
        "label": "Enable section",
		"default": true
      },
	  {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Title"
      },
      {
        "type": "richtext",
        "id": "text_1",
        "label": "Text 1",
		"default": "<p>Description goes here.</p>"
      },
      {
        "type": "richtext",
        "id": "text_2",
        "label": "Text 2",
		"default": "<p>Description goes here.</p>"
      },
      {
        "type": "image_picker",
        "id": "banner_1_desk",
        "label": "Banner 1 (Desktop)",
        "info": "Recommended size 580x739 (px)"
      },
      {
        "type": "image_picker",
        "id": "banner_1_mob",
        "label": "Banner 1 (Mobile)",
        "info": "Recommended size 360x672 (px)"
      },
      {
        "type": "image_picker",
        "id": "banner_2",
        "label": "Banner 2",
        "info": "Recommended size 300x282 (px)"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
